body {
  background-color: #fff;
  background-image: url(Qd7vc10.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  
  &:link {
    text-decoration: none;
  }
  
  &:visited {
    color: #666;
  }

  &:hover {
    color: #00F;
    text-decoration: underline; /* テキストに下線が表示されないように設定 */
    background: rgba(0, 0, 255, 0);
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

 /* ヘッダー */
#header {
   position: fixed; /* 画面をスクロールしてもヘッダーを常に上部固定 */
   top: 0;
   left: 0;
   width: 100%; /* 横幅を 設定 */
   height: 46px; /* ヘッダーの高さを設定 */
   background-color: rgba(255, 255, 255, 0.5); /* 背景色の設定 */
   border-bottom: solid 1px #EEE; /* ヘッダーの下に1ピクセルの実線を設定 */
 }

#headerArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
   width: 980px; /* ヘッダーコンテンツ部分の横幅を設定 */
 }

 /* ヘッダーロゴ */
#header_logo {
   float: left; /* ロゴ表示部分を左寄せで設定 */
   padding: 14px 0 0 0; /* ロゴ表示部分の上に余白12ピクセルを設定 */
   font-weight: bold; /* ロゴのテキストを太字に設定 */
   font-size: 20px;
   color: #777777; /* ロゴの色を設定 */
   text-decoration: none;
 }
 
  /* グローバルナビゲーション */
#gnavi {
   float: right; /* グローバルナビゲーション部分を右寄せで設定 */
   text-align: right; /* コンテンツの中身を右寄せで設定 */
 }

#gnavi ul{
   clear: both; /* 回り込みを解除する際に使用しdiv要素が重ならないように設定 */
   list-style:none;
 }

#gnavi li {
   padding: 0 0 0 20px; /* 左に20ピクセルの余白を設定 */
   float: left; /* リストを左寄せで横並びになるよう設定 */
 }

 /* メインパネル */
#main_panel {
   padding: 80px 0 0 0; /* メインパネル上部に80ピクセルの余白を設定 */
   height: auto;  /* メインパネルの高さを400pxに設定 */
 }